#navigasi {
    width: 90rem;
    height: 3.75rem;
    flex-shrink: 0;
    background: #12486B;
    margin: auto;
    display: flex;
}

#logo {
    height: 3.75rem;
    margin-left: 10.6rem;
    margin-right: 4.06rem;
}
#logo img{
    height: 100%;
}
#berandaAktif {
    width: 6.375rem;
    height: 2.8125rem;
    border-radius: 0.625rem;
    background: #FFF;
    justify-self: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-self: center;
    margin-right: 1.37rem;
}

#berandaAktif a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

#tentangAiri {
    width: 8.125rem;
    height: 3.75rem;
    margin-right: 1.37rem;
}

#tentangAiri a{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#sikapDasar {
    width: 6.875rem;
    height: 3.75rem;
    margin-right: 1.37rem;
}

#sikapDasar a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#panduan {
    width: 5.3125rem;
    margin-right: 1.37rem;
    height: 3.75rem;
}

#panduan a{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}

#faq a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#faq {
    width: 2.5rem;
    height: 3.75rem;
    margin-right: 1.87rem;
}

#ulasan a{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#ulasan {
    width: 4.375rem;
    height: 3.75rem;
    margin-right: 1.87rem;
}

#kontak {
    width: 4.375rem;
    height: 3.75rem;
    margin-right: 1.94rem;
}

#kontak a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}

#daftar {
    display: flex;
    width: 5.9375rem;
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #419197;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#daftar a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #F5FCCD;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#baner {
    width: 90rem;
    height: 26.25rem;
    margin: auto;
    background: url(/src/Baner\ Container\ AIRI1.png);
    background-size: 100%;

}

#backgroundBaner {
    width: 40.625rem;
    height: 26.25rem;
    background: url(/src/left\ baner.png), 50% / cover no-repeat;
    background-size: 100%;
    background-position: 100%;
    
}

#judul1Baner {
    display: flex;
    width: 23.66138rem;
    height: 3.75rem;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 3.13rem;
    padding-right: 13.83rem;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

#backgroundMerah {
    background: rgba(255, 56, 56, 0.77);
    width: 12.0185rem;
    height: 2.8125rem;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

#deskripsiBaner {
    display: flex;
    width: 27.98056rem;
    height: 7.75rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3.13rem;
    margin-bottom: 0.5rem;
}

#bergabung a{
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    
}

#bergabung {
    width: 8.07494rem;
    height: 2.8125rem;
    border-radius: 0.625rem;
    background: #12486B;
    margin-left: 3.13rem;
}

#manfaat {
    width: 72.5rem;
    height: 5rem;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: -6px 11px 4px 1px rgba(0, 0, 0, 0.25);
    margin-left: 8.5rem;
    margin-right: 8.5rem;
    margin-top: -3rem;
    display: flex;
    align-items: center;
}

#manfaat1 {
    width: 10.9375rem;
    height: 3.375rem;
    border-radius: 0.625rem;
    border: 1px solid #1E1E1E;
    background: #FFF;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-left: 1.88rem;
    margin-right: 1.495rem;
}

#manfaat1gambar{
    width: 2.1875rem;
    height: 2.1875rem;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

#manfaat1gambar img {
    width: 100%;
    height: 100%;
    margin-left: 0.81rem;
    
}

#manfaat1deskirpsi {
    width: 6.75rem;
    height: 2.1875rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #1E1E1E;
    font-family: Nunito;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 1.22rem;
}

#DeskripsiTengah {
    width: 45.6875rem;
    height: 21.25rem;
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    float: left;
}

#judulDeskripsiTengah1 {
    color: #1E1E1E;
    font-family: Nunito;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-right: 0.5rem;
}

#judulDeskripsiTengah2 {
    color: #FFF;
    font-family: Nunito;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #78D6C6;
    padding: 0.2rem;
}

#home {
    width: 90rem;
    height: 93.75rem;
    background: #FFF;
    margin: auto;
}

#judul2DeskripsiTengah {
    color: #1E1E1E;
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 3.12rem;
    margin-top: 1.94rem;
    
}

#judulDeskripsiTengah {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 3.12rem;
}

#deskripsiTengah {
    color: #1E1E1E;
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 39.625rem;
    margin-left: 3.19rem;
    margin-top: 1.94rem;
}

#gambarDeskripsiTengah {
    width: 38.125rem;
    height: 25rem;
    flex-shrink: 0;
}

#backgroundDeskripsiTengah {
    width: 44.2rem;
    height: 25rem;
    flex-shrink: 0;
    background-image: url(/src/Rectangle\ 3.png);
    float: right;
    background-repeat: no-repeat;
    background-size: 100%;
}

#videoYoutube {
    width: 45rem;
    height: 27.1875rem;
    float: left;
    background: #D9D9D9;
    align-items: center;
    justify-content: center;
    display: flex;
}

#deskripsiBawah {
    width: 45rem;
    height: 27.1875rem;
    float: right;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#teksDeskripsiBawah {
    width: 39.625rem;
    color: #1E1E1E;
    font-family: Nunito;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#footer {
    width: 100%;
    height: 9.375rem;
    background: #1E1E1E;
    display: flex;
    align-items: center;

}

#facebook {
    color: #D9D9D9;
    font-family: Nunito;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    text-align: center;
    display: flex;
    margin-right: 2.56rem;
}

#facebook img {
    margin-left: 3.25rem;
    margin-right: 0.56rem;
}

#instagram {
    color: #D9D9D9;
    font-family: Nunito;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 2.56rem;
}

#instagram img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.56rem;
}

#youtube {
    color: #D9D9D9;
    font-family: Nunito;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: center;
}

#youtube img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.56rem;
}

#copyright {
    width: 24.75rem;
    color: #D9D9D9;
    text-align: right;
    font-family: Nunito;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 2.37rem;
    margin-left: auto;
}