#bannerKenaliAiriLebihDekat {
    width: 24.3125rem;
    height: 58.125rem;
    border: 8px solid #12486B;
    float: right;
}

#bannerKenaliAiriLebihDekat img {
    width: 100%;
    height: 100%;
}

#home2 {
    width: 90rem;
    height: 79rem;
    background: #FFF;
    margin: auto;
}