#navigasi {
    width: 100%;
    height: 3.75rem;
    flex-shrink: 0;
    background: #12486B;
    margin: auto;
    display: flex;
}

#logo {
    height: 4rem;
    margin-left: 10.6rem;
    margin-right: 4.06rem;
}
#logo img{
    height: 100%;
}
#berandaAktif {
    width: 6.375rem;
    height: 2.8125rem;
    justify-self: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-self: center;
    margin-right: 1.37rem;
    transition: transform 0.3s ease-in-out;
}

#berandaAktif a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    background: #FFF;
    border-radius: 0.625rem;
}

#tentangAiri a:hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}

#sikapDasar a:hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}

#panduan a:hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}

#faq a:hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}

#ulasan a:hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}

#kontak a:hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}

#beranda a:hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}

#daftar a:hover {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #12486B;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}

#berandaAktif a:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #12486B;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}
#tentangAiriAKTIF a:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #12486B;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}

#bergabung a:hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #419197;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transform: scale(1.1);
}


#tentangAiri {
    width: 8.125rem;
    height: 3.75rem;
    margin-right: 1.37rem;
}

#tentangAiri a{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    
}

#sikapDasar {
    width: 6.875rem;
    height: 3.75rem;
    margin-right: 1.37rem;
}

#sikapDasar a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#panduan {
    width: 5.3125rem;
    margin-right: 1.37rem;
    height: 3.75rem;
}

#panduan a{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}

#faq a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#faq {
    width: 2.5rem;
    height: 3.75rem;
    margin-right: 1.87rem;
}

#ulasan a{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#ulasan {
    width: 4.375rem;
    height: 3.75rem;
    margin-right: 1.87rem;
}

#kontak {
    width: 4.375rem;
    height: 3.75rem;
    margin-right: 1.94rem;
}

#kontak a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}

#daftar {
    display: flex;
    width: 5.9375rem;
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease-in-out;

}

#daftar a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #F5FCCD;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.625rem;
    background: #419197;
}

#baner {
    width: 90rem;
    height: 26.25rem;
    margin: auto;
    background: url(/src/Baner\ Container\ AIRI1.png);
    background-size: 100%;

}

#backgroundBaner {
    width: 40.625rem;
    height: 26.25rem;
    background: url(/src/left\ baner.png), 50% / cover no-repeat;
    background-size: 100%;
    background-position: 100%;
    
}

#judul1Baner {
    display: flex;
    width: 23.66138rem;
    height: 3.75rem;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 3.13rem;
    padding-right: 13.83rem;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

#backgroundMerah {
    background: rgba(255, 56, 56, 0.77);
    width: 12.0185rem;
    height: 2.8125rem;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

#deskripsiBaner {
    display: flex;
    width: 27.98056rem;
    height: 7.75rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3.13rem;
    margin-bottom: 0.5rem;
}

#bergabung a{
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #12486B;
    text-decoration: none;
    border-radius: 0.625rem;
    
}